.IconAnchor {
	margin: 5px;
}

a {
	color: #DCDCDC; /* Warm orange for default link */
	text-decoration: none; /* Remove underline */
}

a:hover {
	color: #808080; /* Brighter red-orange on hover */
}

a:active {
	color: #A9A9A9; /* Darker orange when active */
}
