@font-face {
	font-family: "Circular Std";
	src: url("../../public/circularstd/Black.woff2") format("woff2");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Circular Std";
	src: url("../../public/circularstd/BlackItalic.woff2") format("woff2");
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Circular Std";
	src: url("../../public/circularstd/Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Circular Std";
	src: url("../../public/circularstd/BoldItalic.woff2") format("woff2");
	font-style: italic;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Circular Std";
	src: url("../../public/circularstd/Book.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Circular Std";
	src: url("../../public/circularstd/BookItalic.woff2");
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Circular Std";
	src: url("../../public/circularstd/Medium.woff2");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Circular Std";
	src: url("../../public/circularstd/MediumItalic.woff2");
	font-style: italic;
	font-weight: 500;
	font-display: swap;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	font-family: "Circular Std", sans-serif;
	background-color: #111;
	overflow: hidden;
	scrollbar-width: thin;
	scrollbar-color: #333 #222;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: #222;
}

::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 10px;
}

.container {
	scroll-snap-type: y mandatory;
	overflow: scroll;
	height: 100vh;
}
